<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abc.sample.${name.suffix.camel}">

	<!-- ${remarks} search list -->
    <select id="search" resultType="record" parameterType="params">
        SELECT  ${for:item=columns, inStr="\n,", indent=-1}${column} AS "${name.camel}"${endfor}
          FROM ${table} A
         WHERE (0=0)
               ${for:item=columns,inStr="\n" 
               }<if test="${name.camel} == null or ${name.camel} == '')">AND ${column} = #{${name.camel}} </if>${endfor}
         ORDER 
            BY UPDT_DT DESC
    </select>
	<!-- ${remarks} search list count -->
    <select id="searchCount" resultType="int" parameterType="params">
        SELECT COUNT(1) 
          FROM ${table} A
         WHERE (0=0)
               ${for:item=columns,inStr="\n"
               }<if test="${name.camel} == null or ${name.camel} == ''">AND ${column} = #{${name.camel}}</if>${endfor}
    </select>

	<!-- ${remarks} select one -->
    <select id="select" resultType="record" parameterType="params">
        SELECT  ${for:item=columns,inStr="\n,",indent=-1}${column} AS "${name.camel}"${endfor}
          FROM ${table} A
         WHERE ${for:item=keys,inStr="\nAND ",indent=-4}${column} = #{${name.camel}}${endfor}
    </select>

	<!-- ${remarks} insert -->
    <insert id="insert" parameterType="params">
        INSERT 
          INTO ${table} 
             (
               ${for:item=columns,inStr="\n,",indent=-1}${column}${endfor}  
             )
        VALUES
             (
               ${for:item=columns,inStr="\n,",indent=-1
               }${
               if:item=name,endsWith="date"
               }CURRENT_DATE()${
               else
               }#{${name.camel}}${
               endif}${
               endfor}  
             )
    </insert>

	<!-- ${remarks} update -->
    <update id="update" parameterType="params">
        UPDATE ${table} 
           SET  ${for:item=notKeys,inStr="\n,",indent=-1}${column} = #{${name.camel}}${endfor}  
         WHERE ${for:item=keys,inStr="\nAND ",indent=-4}${column} = #{${name.camel}}${endfor}
    </update>

	<!-- ${remarks} delete -->
    <delete id="delete" parameterType="params">
        DELETE 
          FROM ${table} 
         WHERE ${for:item=keys,inStr="\nAND ",indent=-4}${column} = #{${name.camel}}${endfor}
    </delete> 

</mapper>
